.storeToolbar{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 24px;
    flex-wrap: wrap;
    input,select{
        background: var(--input-bg);
        color: var(--input-text);
        border: 1px solid var(--input-border);
        padding: 10px 14px;
        border-radius: 10px;
        font-size: 14px;
        transition: 0.2s ease;
    }    
    input::placeholder{
        color: var(--input-placeholder);
    }
    input:focus,
    select:focus{
        outline: 2px solid var(--input-focus-border);
        outline-offset: 3px;
    }
    .applyBtn,.clearBtn{
        background: var(--btn-secondary-bg);
        color: var(--btn-secondary-text);
        border: 1px solid var(--btn-secondary-border);
        padding: 8px 14px;
        border-radius: 20px;
        // height: 38px;
        cursor: pointer;
        &:active{
            transform: scale(0.9);
        }
    }
    .clearBtn.clear{
        // background-color: #f5575b;
        color: #f5575b;
    }
}


// Skeleton
.toolbar{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    .pillSkeletonRow{
        display: flex;
        gap: 8px;
        margin: 10px 0;
    }
}

@media (max-width: 768px){
    .storeToolbar,.toolbar{
        display: none;
    }
}
