.wrapper {
    width: 100%;
    max-width: 280px;

    .values {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        margin-bottom: 6px;
        opacity: 0.7;
    }

    .slider {
        position: relative;
        height: 24px;
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 12px;
        input[type="range"] {
            position: absolute;
            width: 100%;
            pointer-events: none;
            appearance: none;
            background: transparent;
        }

        input[type="range"]::-webkit-slider-thumb {
            pointer-events: all;
            appearance: none;
            margin-top: 2px;
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background-color: #3b82f6;
            opacity: 0.5;
            cursor: pointer;
           
        }
        input[type="range"]:focus::-webkit-slider-thumb {
            opacity: 1;
        }

        input[type="range"]::-webkit-slider-runnable-track {
            height: 2px;
            background: var(--border);
            border-radius: 2px;
        }
        .inputRange:focus{
            border-color: transparent !important;
        }
    }
}