.filterBar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    margin: 10px;
    // overflow-x: auto;
}

.filterBtn {
    border: none;
    background: #f2f2f2;
    border-radius: 20px;
    padding: 8px 14px;
    font-size: 13px;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.2s ease;

    &:hover {
        background: #e6e6e6;
    }

    &.activeFilter {
        background: #000;
        color: #fff;
    }
}