@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  --color-bg: #f5f5f7;

  --color-bg2: #fff;
  --color-txt2: #111111;

  --color-lghttxt: #666;
  

  // Cards
  --card-bg: #fff;

  // Borders 
  --border: #e5e5e5;
  --color-border: #e5e5e5;

  // From 
  --form-bg: #fff;
  --form-text: #000;

  // table
  --table-text: #000;


  --color-primary: #111111;
  --color-accent: #0071e3;

  // Skeleton
  --skeleton-bg: #eaeaea;
  --skeleton-shimmer: rgba(255, 255, 255, 0.6);
}

[data-theme="dark"] {
  --color-bg: #0f0f0f;

  --color-bg2: #6e6e73;
  --color-txt2: #f5f5f7;

  --color-lghttxt: #c5c5c5;
  --color-border: rgb(175, 175, 175);

  // Skeleton
  --skeleton-bg: #2a2a2a;
  --skeleton-shimmer: rgba(255, 255, 255, 0.1);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: var(--color-bg);
  color: var(--color-primary);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  @media (min-width: 768px) {
    /* Tablet */
  }

  @media (min-width: 1024px) {
    /* Desktop */
  }
}