.header {
    background-color: white;
    border-bottom: 1px solid var(--color-border);
    position: sticky;
    top: 0;
    z-index: 100;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.logo {
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: var(--color-primary);
}

.nav a {
    margin-left: 16px;
    font-size: 14px;
    text-decoration: none;
    color: var(--color-secondary);
    transition: 0.2s ease;
}

.cart {
    position: relative;
    display: inline-flex;
    align-items: center;
    z-index: 5;
}

.badge {
    position: absolute;
    top: -8px;
    right: -10px;
    background: var(--color-accent);
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    padding: 3px;
    border-radius: 999px;
    min-width: 18px;
    text-align: center;
    z-index: 1;
}

.userEmai {
    font-size: 13px;
    color: var(--color-secondary);
}

.logout {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: var(--color-accent);
    font-weight: 500;
    transition: opacity 0.2s ease;

    &:hover {
        opacity: 0.7;
    }
}

/* ========================= */
/* Header Skeleton Nav       */
/* ========================= */

.skeletonNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
}

/* Logo placeholder */
.skeletonLogo {
    width: 120px;
    height: 18px;
    background: #eaeaea;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

/* Right side nav links */
.skeletonLinks {
    display: flex;
    gap: 16px;
}

.skeletonLink {
    width: 70px;
    height: 14px;
    background: #eaeaea;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

/* Shimmer Effect */

.skeletonLogo::after,
.skeletonLink::after {
    content: "";
    position: absolute;
    top: 0;
    left: -120px;
    height: 100%;
    width: 120px;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.6),
            transparent);
    animation: shimmer 1.4s infinite;
}

@keyframes shimmer {
    100% {
        transform: translateX(240px);
    }
}


/* Tablet and Above*/
@media (min-width: 768px) {
    .wrapper {
        height: 70px;
    }

    .logo {
        font-size: 20px;
    }

    .nav a {
        margin-left: 24px;
        font-size: 15px;
    }
}


/*Accessibility*/
@media(prefers-reduced-motion: reduce) {
    .nav a {
        transition: none;
    }

    .logout {
        transition: none;
    }

    .skeletonLogo::after,
    .skeletonLink::after {
        animation: none;
    }
}