.grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

/*Only Tablet*/ 
@media (min-width: 768px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
}

/*Only Desktop*/ 
@media (min-width: 1024px){
    .grid{
        grid-template-columns: repeat(3,1fr);
        gap: 32px;
    }
}